.circle-btn {
	border-radius: 100%;
	height: 50px;
	width: 50px;
    border: none;
	background-color: var(--second-background-color);
    cursor: pointer;
    img {
        // Set png icon to white if is in light mode
        width: 100%;
        height: 100%;
        filter: brightness(var(--is-dark-mode));
    }
}